<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Feel free to connect !!!</h1>
        <div ng-controller="logoutCtrl">
            
            <a href="" ng-click="logout()" class="contact">LOGOUT</a>
            <!-- <button type="submit"  class="contact" ng-click="sumbit()">LOGOUT</button>   <br>  -->
        </div>
        <!-- <a href="" class="contact">CONTACTS</a> -->
    </div>
   <div class="cnt">
    <h2>
        Mumabai
    </h2>
    <p>
        Address: Ayyan future school <br>
         MG road Second street <br>
         Pincode:682040
    </p>
    
   </div>

   <form action="">
    <textarea name="opinion" id="opinion" cols="30" rows="10" placeholder="Feedback" style="width: 250px;"></textarea>
    <button>SUBMIT</button>
</form>

   
</body>
</html>