body{
    background-color: indianred;

}
.dashboard{
    background-color: black;
}
form{
   
   margin-left: 590px;
   margin-top: 150px;
   width: 250px;
   height: 250px;
   padding: 20px;
   background-color: grey;
   opacity: 0.7;
   position: absolute;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.contact{
    text-decoration: none;
    float: right;
    position: relative;
    /* border: 1px solid black; */
    margin-right: 60px;
    margin-top: 48px;
    /* background-color: violet; */
    color: black;
    
    
}

.contact:hover{
    color: blue;
}
.title{
    position: absolute;
}
.container{
    border: 1px solid black;
    height: 80px;
    background-color: burlywood;

}

.cnt{
    margin-left: 300px;
    margin-top: 200px;
    position: absolute;
}

